body {
    margin: 0;
    padding: 0;
}

.one {
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    margin: 30px;
    padding: 20px;
}

.two {
    width: 700px;
    height: 600px;
    background-color: bisque;
    margin: 10px auto;
    padding: 15px;
}