body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 300px;
    height: 70px;
    color: #fff;
    background-color: #999999;
    float: left;
}

.item {
    width: 900px;
    float: right;
}

.he {
    width: 500px;
    color: #fff;
    background-color: #33ff33;
    float: left;
}

.menu {
    width: 400px;
    height: 40px;
    color: #fff;
    background-color: rgb(231, 231, 158);
    float: right;
}

.nav {
    clear: both;
    color: #fff;
    background-color: #33cccc;
}